<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.essel.smartutilities">

    <!-- permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utility.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.LandingSkipLoginActivity" />
        <activity
            android:name=".activity.ForgotActivity"
            android:theme="@style/Theme.DesignDemo" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ActivityLoginLanding" />
        <activity android:name=".activity.ComplaintActivity" />
        <activity android:name=".activity.Contact_Us_Activity" />
        <activity android:name=".activity.FAQActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.NewConnectionActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.TipsActivity" />
        <activity android:name=".activity.TraiffActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.ServiceStatusActivity" />
        <activity android:name=".activity.MyBillActivity" />
        <activity android:name=".activity.BillHistoryActivity" />
        <activity android:name=".activity.PayNowActivity" />
        <activity android:name=".activity.QuickPayActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.ManageAccountsActivity" />
        <activity android:name=".activity.NewConnectionActivity2" />
        <activity android:name=".activity.RegisterActivity3" />
        <activity android:name=".activity.RegisterActivity2" />
        <activity android:name=".activity.RegisterActivity4" />
        <activity android:name=".activity.PaymentHistoryActivity" />
        <activity android:name=".activity.GetComplaintIdActivity" />
        <activity android:name=".activity.ForgotActivity2"></activity>
    </application>

</manifest>